In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({"a":[1,2,3,4,5,6],"b":[6,7,8,9,10,11]})

In [7]:
df.describe()

              a          b
count  6.000000   6.000000
mean   3.500000   8.500000
std    1.870829   1.870829
min    1.000000   6.000000
25%    2.250000   7.250000
50%    3.500000   8.500000
75%    4.750000   9.750000
max    6.000000  11.000000